.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 10px 30px;
  font-size: 30px;
}

.hero {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  gap: 20px;
  padding: 10px 20px;
}

#tag {
  font-size: 2vmax;
}

.cate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.upImg,
.genImg,
.chat {
  padding: 10px 20px;
  border: 2px solid white;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}

.upImg svg {
  width: 25px;
  height: 25px;
  color: rgb(7, 240, 11);
}

.genImg svg {
  width: 25px;
  height: 25px;
  color: rgb(7, 236, 240);
}

.chat svg {
  width: 25px;
  height: 25px;
  color: rgb(7, 240, 11);
}

.upImg:hover,
.genImg:hover,
.chat:hover {
  background-color: rgba(240, 248, 255, 0.108);
  /* transition: 0.3s ease-in-out; */
}

.input-box {
  width: 100%;
  height: calc(100vh - 80px - 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#add,
#submit {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.297);
  background-color: black;
  color: white;
}

#add svg {
  width: 30px;
  height: 30px;
}

#submit svg {
  width: 25px;
  height: 25px;
}


@media (max-width: 500px) {
  #tag {
    font-size: 20px;
  }
}